* {
    margin: 0;
    padding: 0;
    background-color: rgb(31, 167, 230);
}
main {
    width: 70%;
    margin: auto;
    margin-top: 15vh;
    text-align: center;
    height: 50vh;
}
main h2 {
    font-weight: 100;
    margin-top: 15px;
}
#startbutton{
    color: white;
    background-color: purple;
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
#score{
    display: none;
}