* {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
main {
    width: 70%;
    margin: auto;
    margin-top: 15vh;
    text-align: center;
    height: 50vh;
}
main h2 {
    font-weight: 100;
    margin-top: 15px;
}
.button{
    color: white;
    background-color: purple;
    width: 100%;
    display: block;
    margin: 3px;
    padding: 10px;
    font-size: 20px;
    border: none;
    text-align: left;
    border-radius: 5px;
}
#startbutton{
    margin: auto;
    margin-top: 15px;
    width: auto;
    text-align: center;
}
#score{
    display: none;
}
#scoring{
    width: fit-content;
    height: fit-content;
}

#timerContainer{
    position: fixed;
    display: flex;
    right: 0;
    top: 0;
    width: 15vw;
    min-height: 10vh;
    align-items: center;
}

#buttonContainer{
    width: fit-content;
    height: fit-content;
}